# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
webdeployment/dist

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml

#intellij
.idea
*/.idea
*/build
.gradle
ui/
webdeployment/gradle/
webdeployment/gradlew
webdeployment/gradlew.bat
webdeployment/out/
