# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

source/html/barrybecker4/bb4-website.cpf
source/html/barrybecker4/bb4-website.cpfs

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#intellij
.idea
*/.idea
*.iml
*.ipr
*.iws

*/build
.gradle
ui/
webdeployment/gradle/
webdeployment/gradlew
webdeployment/gradlew.bat
webdeployment/out/

