.node rect {
    cursor: pointer;
    shape-rendering: crispEdges;
    transition: fill-opacity 0.3s ease;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: 500;
}

.link {
    fill: none;
    pointer-events: none;
    transition: stroke-opacity 0.3s ease;
}

.link-hit {
    fill: none;
    stroke: transparent;
    cursor: pointer;
}

.link-outline {
    fill: none;
    pointer-events: none;
}
